<div class="row top-container">
  <%= image_tag 'banner.png' %>
</div>
<div class="row articles-container">
  <% @articles.each do |article| %>
    <div class="article-item">
      <div class="col-xs-3">
        <%= image_tag article.picture.url(:small), class: 'thumb' %>
      </div>
      <div class="col-xs-9 explain">
        <h3><%= article.title.truncate(16) %></h3>
        <div class="desc"><%= article.description.truncate(75) %></div>
      </div>  
    </div>
  <% end %>
</div>
