<div class="row top-container">
  
</div>
<div class="row">
  <% @articles.each do |article| %>
    <div class="article-item">
      <div class="col-xs-3">
        <%= image_tag article.picture.url(:small), class: 'thumb' %>
      </div>
      <div class="col-xs-9 explain">
        <h3><%= article.title %></h3>
        <span><%= article.description %></span>
      </div>  
    </div>
  <% end %>
</div>
