<div class="page-content">
  <div class="row title">
    <h4><%= @article.title %></h4>
  </div>
  <div class="row">
    <em class="datetime"><%= @article.created_at.strftime("%F %H:%M")%></em>
    <span class="author"><%= @article.author %></span>
  </div>
  <div class="row content">
    <%= @article.content.html_safe %>
  </div>
  
</div>
