<div class="row">
  <h3>客户端下载</h3>
  <p>请点击右上角在浏览器中打开或扫二维码</p>  
  
  <div class="content">
    <p>Android下载二维码</p>
    <%= image_tag "android.png" %>

    <p>iOS下载二维码</p>
    <%= image_tag "ios.png" %>  
  </div>
</div>
