<div class="tab-bar col-xs-12">
  <ul class="col-xs-12 tab">
    <a href="#tempe" aria-controls="tempe" role="tab" data-toggle="tab"><li page='tempe' class="col-xs-3 active"><i class="iconfont icon-wenduji"></i>气温</li></a>
    <a href="#wind" aria-controls="wind" role="tab" data-toggle="tab"><li page='wind' class="col-xs-3"><i class="iconfont icon-feng"></i>风力</li></a>
    <a href="#rain" aria-controls="rain" role="tab" data-toggle="tab"><li page='rain' class="col-xs-3"><i class="iconfont icon-my-yu"></i>降水</li></a>
    <a href="#city" aria-controls="city" role="tab" data-toggle="tab"><li page='city' class="col-xs-3"><i class="iconfont icon-my-yu"></i>全市</li></a>
  </ul>
</div>
