<div id="typhoon_list_d_c" class="active_list typhoon_list_d_c">
  <div class="typhoon_list_d table-responsive">
    <div class="title">温度统计相关说明</div>
    <div>即刻温度:最新统计时间的温度值</div>
    <div>今日最低气温:气象局统计中以每天的20时为日界,今日最低气温为上一日的20:01~最新统计时间的最低气温</div>
    <div>今日最高气温:气象局统计中以每天的20时为日界,今日最高气温为上一日的20:01~最新统计时间的最高气温</div><br>
    <div>附:松江区域自动站表</div>
    <table class="table table-condensed table-bordered ">
      <tr>
        <th>序号</th>
        <th>站名</th>
        <th>站点地址</th>
      </tr>
      <tr>
        <th>1</th>
        <th>华实中学</th>
        <th>南青路8号</th>
      </tr>
      <tr>
        <th>2</th>
        <th>小昆山</th>
        <th>小昆山镇荡湾村曹浜路408号</th>
      </tr>
      <tr>
        <th>3</th>
        <th>叶榭</th>
        <th>叶榭镇政府</th>
      </tr>
      <tr>
        <th>4</th>
        <th>新桥</th>
        <th>新桥镇新闵小学</th>
      </tr>
      <tr>
        <th>5</th>
        <th>车墩</th>
        <th>车亭公路128号</th>
      </tr>
      <tr>
        <th>6</th>
        <th>新浜</th>
        <th>新浜镇甪彭路1888号</th>
      </tr>
      <tr>
        <th>7</th>
        <th>石湖荡</th>
        <th>石湖荡镇闵塔公路李塔渔庄</th>
      </tr>
      <tr>
        <th>8</th>
        <th>泗泾</th>
        <th>泗泾镇叶家公路101号</th>
      </tr>
      <tr>
        <th>9</th>
        <th>五库</th>
        <th>五库农展馆</th>
      </tr>
      <tr>
        <th>10</th>
        <th>九亭</th>
        <th>九亭气象园</th>
      </tr>
      <tr>
        <th>11</th>
        <th>天马山</th>
        <th>九江路近沈砖公路</th>
      </tr>
      <tr>
        <th>12</th>
        <th>浦南花卉叶新公路近松金公路</th>
        <th>新浜镇甪彭路1888号</th>
      </tr>
      <tr>
        <th>13</th>
        <th>西部渔村</th>
        <th>昆泖公路西到底</th>
      </tr>
      <tr>
        <th>14</th>
        <th>泖港</th>
        <th>叶新公路999号</th>
      </tr>
      <tr>
        <th>15</th>
        <th>佘山顶</th>
        <th>西佘山天文台楼顶</th>
      </tr>
      <tr>
        <th>16</th>
        <th>洞泾</th>
        <th>洞泾镇丁仙园</th>
      </tr>
      <tr>
        <th>17</th>
        <th>永丰街道</th>
        <th>富永路近黄浦江</th>
      </tr>
      <tr>
        <th>18</th>
        <th>第一中学</th>
        <th>松汇路人民路</th>
      </tr>
      <tr>
        <th>19</th>
        <th>工业区</th>
        <th>江田东路200号</th>
      </tr>
      <tr>
        <th>20</th>
        <th>泰晤士</th>
        <th>泰晤士华庭胡边</th>
      </tr>
      <tr>
        <th>21</th>
        <th>荣乐路</th>
        <th>荣乐路九峰路口</th>
      </tr>
      <tr>
        <th>22</th>
        <th>农业中心</th>
        <th>松金公路9969号</th>
      </tr>
    </table>
  </div>
  <div id="triangle-down"></div>
</div>