<div id="typhoon_list_d_c1" class="active_list typhoon_list_d_c">
  <div class="typhoon_list_d table-responsive">
    <div class="title">风级、风速对照表</div>
    <div>1小时最大风速：当前小时内，01分至统计时间内的最大风速值；</div>
    <div>3小时最大风速：过去3小时内的最大风速值（如当前时间为9:25，3小时最大风速为6：01~9：00时段内的最大风速值）;</div>
    <div>6小时最大风速：过去6小时内的最大风速值（如当前时间为9:25，6小时最大风速为3：01~9：00时段内的最大风速值）;</div>
    <div>24小时最大风速：过去24小时内的最大风速值（如当前时间为2日9:25，24小时最大风速为1日9：01~2日9：00时段内的最大风速值）;</div><br>
    <div>附：风级、风速对照表</div>
    <table class="table table-condensed table-bordered ">
      <tr>
        <th rowspan="2">风级</th>
        <th rowspan="2">名称</th>
        <th colspan="3">相当于空旷平地上标准高度（10米）处的风速</th>
      </tr>
      <tr>
        <td>米/秒</td>
        <td>海里/小时</td>
        <td>公里/小时</td>
      </tr>
      <tr>
        <td>0</td>
        <td>静风</td>
        <td>0-0.2</td>
        <td><1</td>
        <td><1</td>
      </tr>
      <tr>
        <td>1</td>
        <td>软风</td>
        <td>0.3-1.5</td>
        <td>1-3</td>
        <td>1-5</td>
      </tr>
      <tr>
        <td>2</td>
        <td>轻风</td>
        <td>1.6-3.3</td>
        <td>4-6</td>
        <td>6-11</td>
      </tr>
      <tr>
        <td>3</td>
        <td>微风</td>
        <td>3.4-5.4</td>
        <td>7-10</td>
        <td>12-19</td>
      </tr>
      <tr>
        <td>4</td>
        <td>和风</td>
        <td>5.5-7.9</td>
        <td>11-16</td>
        <td>20-28</td>
      </tr>
      <tr>
        <td>5</td>
        <td>清劲风</td>
        <td>8.0-10.7</td>
        <td>17-21</td>
        <td>29-38</td>
      </tr>
      <tr>
        <td>6</td>
        <td>强风</td>
        <td>10.8-13.8</td>
        <td>22-27</td>
        <td>39-49</td>
      </tr>
      <tr>
        <td>7</td>
        <td>疾风</td>
        <td>13.9-17.1</td>
        <td>28-33</td>
        <td>50-61</td>
      </tr>
      <tr>
        <td>8</td>
        <td>大风</td>
        <td>17.2-20.7</td>
        <td>34-40</td>
        <td>62-74</td>
      </tr>
      <tr>
        <td>9</td>
        <td>烈风</td>
        <td>20.8-24.4</td>
        <td>41-47</td>
        <td>75-88</td>
      </tr>
      <tr>
        <td>10</td>
        <td>狂风</td>
        <td>24.5-28.4</td>
        <td>48-55</td>
        <td>89-102</td>
      </tr>
      <tr>
        <td>11</td>
        <td>暴风</td>
        <td>28.5-32.6</td>
        <td>56-63</td>
        <td>103-117</td>
      </tr>
      <tr>
        <td>12</td>
        <td>飓风</td>
        <td>32.7-36.9</td>
        <td>64-71</td>
        <td>118-133</td>
      </tr>
      <tr>
        <td>13</td>
        <td></td>
        <td>37.0-41.4</td>
        <td>72-80</td>
        <td>134-149</td>
      </tr>
      <tr>
        <td>14</td>
        <td></td>
        <td>41.5-46.1</td>
        <td>81-89</td>
        <td>150-166</td>
      </tr>
      <tr>
        <td>15</td>
        <td></td>
        <td>46.2-50.9</td>
        <td>90-99</td>
        <td>167-183</td>
      </tr>
      <tr>
        <td>16</td>
        <td></td>
        <td>51.0-56.0</td>
        <td>100-108</td>
        <td>184-201</td>
      </tr>
      <tr>
        <td>17</td>
        <td></td>
        <td>56.1-61.2</td>
        <td>109-118</td>
        <td>202-220</td>
      </tr>
      <tr>
        <td>18</td>
        <td></td>
        <td>≥61.3</td>
        <td>≥119</td>
        <td>≥221</td>
      </tr>
    </table>
  </div>
  <div id="triangle-down"></div>
</div>