.top-container {
  height: 160px;
  img {
    width: 100%;
    max-height: 160px;
  }
}
.articles-container {
  margin-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
.article-item {
  overflow: hidden;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ccc;
  .thumb {
    width: 100%;
    min-height: 55px;
  }
  .explain {
    padding-left: 10px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    h3 {
      color: #333;
      margin-top: 2px;
      margin-bottom: 4px;
      font-size: 16px;
    }
    .desc {
      font-size: 12px;
      color: #a3a3a4;
    }
  }
}
.page-content{
  padding: 20px 15px 15px;
  .title {
    margin-bottom: 10px;
    margin-top: 0;
    line-height: 1.4;
    font-weight: 400;
    font-size: 24px;
  }
  .datetime,
  .author {
    margin-right: 8px;
    color: #8c8c8c;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
  }
  .content {
    font-size: 16px;
    color: #7f7f7f;
    font-family: 微软雅黑;
    line-height: inherit;
    line-height: 1.6;
  }
}

