// Place all the styles related to the radar_satellis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #000;
}
a,
a:active,
a:hover,
a:focus {
  text-decoration: none;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.tab {
  height: 36px;
  line-height: 36px;
  margin-top: 12px;
  text-align: center;
  list-style: none;
  li {
    background-color: #fff;
    a {
      color: #4a4a4a;
      display: block;
      cursor: pointer;
    }
  }
  li.active {
    a {
      color: #fff;
    } 
    background-color: #8CB265;
  }
}
.info {
  color: #fff;
  font-size: 12px;
  font-weight: 100;
  .date-time {

  }
  .sub-info {

  }
}
.tab-content {
  color: #fff;
  font-size: 20px;
  .container {
    width: 90%;
    left: 5%;
    height: 300px;
    overflow: hidden;
  }
  .cloud-container {
    width: 90%;
    height: 335px;
    left: 5%;
    position: relative;
    overflow: hidden;
  }
  .picture-canvas {
    transition-timing-function: cubic-bezier(0.1, 0.57, 0.1, 1);
    transition-duration: 0ms;
    transform: translate(-140px, -160px) translateZ(0px);
  }
  .radar-bitmap {
    img {
      width: 90%;
      left: 5%;
      position: relative;
      margin-top: 5px;
    }
  }
}
.iconfont {
  margin-right: 5px;
}
.radar-time-line,
.cloud-time-line {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  position: relative;
  background-color: rgba(119,119,119,0.8);
  .cloud-play {
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    float: left;
    background-color: #777;
    border-right: 1px solid #ddd;
  }
  ul {
    height: 42px;
    line-height: 42px;
    padding-left: 0;
    padding-top: 5px;
    overflow: hidden;
    list-style: none;
    font-size: 12px;
    li {
      height: 32px;
      line-height: 32px;
      text-align: center;
      float: left;
      border-right: 1px solid #ddd;
    }
    li.active {
      // background-color: #ddd;
    }
  }
  
}
#cloud-divide {
  width: 2px;
  height: 32px;
  position: absolute;
  top: 5px;
  left: 40px;
  background-color: #f90e0e;
}
