// Place all the styles related to the typhoon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container-fluid {
  height: 100%;
  background-color: #333;
}

.anchorBL,
.anchorTR {
  display: none;
}

.typhoon_label {
  position: absolute;
  background-color: #fff;
  padding: 2px 4px;
  border: 1px solid #000;
}

.BMapLabel {
  font-size: 12px!important;
  width: 20px!important;
  white-space: normal!important;
  border: 0!important;
  color: #f5915f;
  background-color: initial!important;
}

.BMap_pop {
  z-index: 1000;
  div:first-child {
    width: 0!important;
    height: 0!important;
    border: 0!important;
  }
  div:first-child.BMap_bubble_title {
    padding-left: 5px;
    width: 190px!important;
    height: 24px!important;
  }
  [src="http://api0.map.bdimg.com/images/iw_close1d3.gif"] {
    top: -25px!important;
    left: 188px!important;
  }
  [style="box-sizing: content-box; width: 220px; height: 130px; position: absolute; left: 16px; top: 16px; z-index: 10; overflow: hidden;"] {
    width: auto!important;
    height: auto!important;
    top: -30px!important;
  }
}

.BMap_top,
.BMap_center,
.BMap_bottom {
  width: 0!important;
  height: 0!important;
}

.BMap_bubble_title {
  background-color: #fff;
  margin-bottom: 4px;
  border-bottom: 1px solid #d3d3d4;
  font-size: 12px;
}

.BMap_bubble_content {
  background-color: #fff!important;
  padding: 5px;
  width: 190px!important; // height: 130px!important;
  font-size: 12px;
  p {
    margin-top: 3px;
    margin-bottom: 3px; // padding-top: 4px;
    font-size: 12px;
    color: #9e9e9f; // border-bottom: 1px solid #d3d3d3;
  }
}

.title-container {
  position: absolute;
  height: 50px;
  top: 10px;
  left: 18px;
  right: 68px;
  z-index: 99;
  border-radius: 7px;
  background-color: rgba(255, 255, 255, .6);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .2);
  -webkit-backdrop-filter: blur(15px); // -webkit-filter: blur(2px);
}

#title {
  position: absolute;
  height: 50px;
  top: 10px;
  left: 18px;
  right: 68px;
  z-index: 100;
  font-weight: 500;
  letter-spacing: .59px;
  color: #354467;
  padding-left: 15px;
  border: 1px solid #FF1C1C;
  border-radius: 7px;
  font-size: 14px;
  .col-xs-5,
  .col-xs-7 {
    padding: 0;
  }
  .main-title {
    padding-top: 5px;
    margin: 0;
  }
  .current_time {
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: .49px;
  }
  .sub-title {
    margin-top: 0;
    font-size: 14px;
  }
}

#title:after {
  box-shadow: 0 2px 12px rgba(0, 0, 0, .2);
}

#viewDiv {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;
}

#typhoon_selector {
  width: 100%;
  font-size: 16px;
}

.wind_marker {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 80px;
  height: 100px;
}

.btn-group {
  position: absolute;
  right: 18px;
  bottom: 20px;
  width: 50px;
  height: 200px;
  z-index: 99;
  font-size: 20px;
  color: #fff;
  .info-nr-menu {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
    padding: 11px;
    font-size: 22px;
    background-color: rgba(49, 86, 172, .6);
    text-align: center;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer; // -webkit-appearance: button;
  }
}

.list_btn {
  position: absolute;
  right: 18px;
  top: 20px;
  li {
    list-style: none;
    margin-bottom: 1px;
    height: 12px;
    width: 38px;
    .legend_color {
      width: 19px;
      height: 12px;
      float: left;
    }
    .legend_number {
      width: 19px;
      height: 12px;
      float: left;
      font-size: 10px;
      text-align: center;
      color: #333;
    }
  }
}

.help_btn {
  position: absolute;
  left: 18px;
  bottom: 18px;
  div {
    font-size: 14px;
    color: #fff;
    width: 48px;
    height: 48px;
    line-height: 44px;
    text-align: center;
    border-radius: 50%;
    background-color: rgba(140, 178, 101, 0.7);
    border: 3px solid #fff;
  }
}

.typhoon_list_d_c {
  position: absolute;
  bottom: 66px;
  left: 18px;
  z-index: 100;
  .typhoon_list_d {
    margin-bottom: 0;
    width: 79vw;
    height: 60vh;
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    text-align: center;
    font-size: 10px;
    overflow: scroll;
    .title {
      font-size: 12px;
      margin: 20px auto 20px auto;
    }
    table {
      th,
      tr,
      td {
        text-align: center;
        vertical-align: middle;
      }
    }
  }
  #triangle-down {
    margin-left: 16px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 14px solid rgba(0, 0, 0, 0.6);
  }
}

#run-icon {
  position: absolute;
  right: 72px;
  bottom: 30px;
  width: 42px;
  height: 42px;
  z-index: 99;
  background-color: #4b89dc;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  .glyphicon {
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
  }
}

#tflist {
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  padding-top: 5px;
  display: none;
  z-index: 99;
}

.tab-bar {
  background-color: transparent;
  ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      padding: 6px 30px 6px 30px;
      margin-left: 10px;
      text-align: center;
      background-color: #fff;
      float: left;
      font-weight: 700;
    }
  }
  .hidden-container {
    width: 42px;
    height: 42px;
    position: absolute;
    right: 10px;
    padding-top: 8px;
    font-size: 20px;
    background-color: #fff;
    color: #4b89dc;
    border-radius: 50%;
    text-align: center;
  }
}

.tab-pane {
  height: 360px;
  .header {
    text-align: left;
    padding-left: 20px;
  }
  .top {
    position: absolute;
    width: 100%;
    height: 104px;
  }
  .bottom {
    position: absolute;
    width: 100%;
    top: 106px;
    .content {
      height: 254px;
    }
  }
  .content {
    position: absolute;
    z-index: 100;
    min-height: 62px;
    padding-top: 8px;
    overflow: hidden;
    background-color: #fff;
    div {
      padding: 6px;
      font-size: 12px;
      float: left;
      img {
        width: 18px;
        margin-right: 4px;
      }
    }
    .sh {
      color: #000;
    }
    .jp {
      color: #7DC337;
    }
    .bj {
      color: #FF4A4A;
    }
    .hk {
      color: #FF007A;
    }
    .am {
      color: #2B9BFF;
    }
    .tw {
      color: #E7A802;
    }
  }
}

.header {
  overflow: hidden;
  background-color: #7A90C1;
  height: 42px;
  line-height: 42px;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: .68px;
  color: rgba(255, 255, 255, .8);
  text-align: center;
  div {
    float: left;
  }
  .time {
    width: 50%;
  }
  .narrow {
    width: 25%;
  }
}

#wrapper {
  position: absolute;
  z-index: 99;
  top: 32px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1000;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  ul {
    li {
      padding: 0 10px;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #fff;
      background-color: #fafafa;
      font-size: 14px;
      div {
        float: left;
        text-align: center;
      }
      .time {
        width: 50%;
      }
      .narrow {
        width: 25%;
      }
    }
    li:nth-child(even) {
      background-color: #eee;
    }
  }
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

.blur-bg-container {
  position: absolute;
  top: 42px;
  width: 100%;
  height: 100%; // background-color: rgba(255,255,255,.6);
  -webkit-backdrop-filter: blur(15px);
}

.tab-pane-typ {
  .typhoon-list {
    height: 100%;
    .typhoon-items {
      position: absolute;
      top: 42px;
      padding: 0;
      margin: 0;
      width: 100%;
      height: 100%;
      overflow-y: scroll;
      list-style: none;
      text-align: left;
      font-weight: 300;
      letter-spacing: .55px;
      color: rgba(255, 255, 255, .6);
      background-color: #fff;
      li {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        color: #5C6F99;
        letter-spacing: .55px;
        font-size: 12px;
        div {
          float: left;
          text-align: center;
        }
        .time {
          width: 50%;
        }
        .narrow {
          width: 25%;
        }
      }
      li:nth-child(even) {
        background-color: rgba(122, 144, 193, .2);
      }
    }
  }
}

#visitor-logo {
  position: absolute;
  bottom: 40px;
  height: 62px;
  width: 62px;
  left: 20px;
  z-index: 99;
  p {
    color: #5f5f5f;
    font-weight: 700;
  }
  img {
    width: 100%;
    margin-bottom: 6px;
    position: relative;
  }
}

.legend {
  position: absolute;
  width: 95px;
  bottom: 120px;
  left: 18px;
  z-index: 99;
  overflow: hidden;
  font-size: 12px;
  font-weight: 700;
  border: 1px solid #5C6F99;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, .4);
  box-shadow: 0px 2px 12px rgba(0, 0, 0, .6);
  .unit {
    padding-top: 6px;
    padding-left: 10px;
    p {
      margin-bottom: 10px;
      font-size: 11px;
      color: #5C6F99;
      font-weight: 500;
      letter-spacing: .47px;
    }
    div {
      margin-bottom: 5px;
      color: #566890;
      font-size: 9px;
      font-weight: 300;
      letter-spacing: .38px;
      span {
        margin-right: 3px;
      }
    }
  }
  .sh {
    color: #000;
  }
  .jp {
    color: #7DC337;
  }
  .bj {
    color: #FF4A4A;
  }
  .hk {
    color: #FF007A;
  }
  .am {
    color: #2B9BFF;
  }
  .tw {
    color: #E7A802;
  }
}

.gray {
  color: #ddd!important;
}

#typhoons_selector {
  width: 90%;
  height: 320px;
  position: relative;
  top: 50px;
  left: 5%;
  padding-top: 12px;
  padding-bottom: 12px;
  border-radius: 8px;
  background-color: #fff;
  box-shadow: 0px 8px 20px rgba(0, 0, 0, .1);
  z-index: 99;
  display: none;
  ul {
    height: 100%;
    padding-left: 24px;
    padding-right: 24px;
    overflow-y: scroll;
    list-style: none;
    li {
      height: 30px;
      line-height: 30px;
      padding-left: 10px;
      color: #5c6f99;
      size: 14px;
      opacity: 0.8;
      letter-spacing: 0.5px;
    }
    li.active {
      color: #fff;
      background-color: #acc5ff;
    }
  }
}

.active_list {
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  opacity: 0;
  display: none;
  filter: alpha(opacity=0);
  visibility: hidden;
}

.hide_list {
  -webkit-transition: opacity 0.3s ease-in-out;
  -moz-transition: opacity 0.3s ease-in-out;
  -o-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  display: block;
  filter: alpha(opacity=1);
  padding: 0;
}
