// Place all the styles related to the typhoon controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-fluid {
  height: 100%;
  background-color: #333;
}
.anchorBL,
.anchorTR {
  display: none;
}
.BMapLabel {
  font-size: 12px!important;
  width: 20px!important;
  white-space: normal!important;
  border: 0!important;
  color: #f5915f;
  background-color: initial!important;
}
.BMap_bubble_title {
  margin-bottom: 4px;
  border-bottom: 1px solid #d3d3d4;
  font-size: 12px;
}
.BMap_bubble_content {
  font-size: 12px;
  p {
    margin-top: 3px;
    margin-bottom: 3px;
    padding-top: 4px;
    font-size: 12px;
    color: #9e9e9f;
    border-bottom: 1px solid #d3d3d3;
  }
}
#title {
  width: 100%;
  height: 42px;
  top: 0;
  position: absolute;
  text-align: center;
  z-index: 99;
  font-weight: 700;
  color: #ec2831;
  .main-title {
    margin-top: 10px;
    margin-bottom: 6px;
    font-size: 18px;
    // -webkit-text-stroke: 1px #ddd;
  }
  .sub-title {
    margin-top: 0;
    font-size: 16px; 
  }
}
#viewDiv {
  position: absolute;
  width: 100%;
  top: 0;
  bottom: 0;

}
#typhoon_selector {
  width: 100%;
  font-size: 16px;
}
.wind_marker {
  position: absolute;
  left: 10px;
  bottom: 10px;
  width: 80px;
  height: 100px;
}
.btn-group {
  position: absolute;
  right: 10px;
  bottom: 30px;
  z-index: 99;
  font-size: 20px;
  color: #fff;
  .info-nr-menu {
    width: 42px;
    height: 42px;
    background-color: #4b89dc;
    text-align: center;
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    padding-top: 8px;
    // -webkit-appearance: button;
  }
}

.h-btn {
  display: none;
}
.s-btn {
  display: block;
}
.s-btn:nth-of-type(2) {
  -webkit-transform: translate(-10px, 10px) rotate(0deg);
  -webkit-transition: all .5s ease-in;
  -moz-transition: all .5s ease-in;
  transition: all 5.5s ease-in;
}
.s-btn:nth-of-type(3) {
 -webkit-transform: translate(-52px, -10px) rotate(0deg); 
}
.s-btn:nth-of-type(4) {
  -webkit-transform: translate(-75px, -10px) rotate(0deg);
}
#info-nr-btn.on {
  -webkit-transform: translate(0px, 126px) rotate(90deg);
}
#run-icon {
 position: absolute;
  right: 72px;
  bottom: 30px;
  width: 42px;
  height: 42px;
  z-index: 99;
  background-color: #4b89dc;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  .glyphicon {
    font-size: 20px;
    padding-top: 10px;
    color: #fff;
  } 
}
#tflist {
  position: absolute;
  bottom: 0;
  height: 360px;
  width: 100%;
  padding-top: 5px;
  display: none;
  z-index: 99;
}
.tab-bar {
  background-color: transparent;
  ul {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
    li {
      padding: 6px 30px 6px 30px;
      margin-left: 10px;
      text-align: center;
      background-color: #fff;
      float: left;
      font-weight: 700;
    }
  }
  .hidden-container {
    width: 42px;
    height: 42px;
    position: absolute;
    right: 10px;
    padding-top: 8px;
    font-size: 20px;
    background-color: #fff;
    color: #4b89dc;
    border-radius: 50%;
    text-align: center;
  }
}
.tab-pane {
  background-color: #eee;
  height: 360px;
  .title {
    height: 32px;
    line-height: 32px;
    padding-left: 20px;
    font-weight: 700;
    color: #fff;
    background-color: #5988da;
  }
  .content {
    min-height: 62px;
    padding-top: 8px;
    overflow: hidden;
    div {
      width: 25%;
      padding: 6px;
      font-size: 12px;
      float: left;
      img {
        margin-right: 4px;
      }
    }
    .sh {
      color: #000;
    }
    .jp {
      color: #43FF4B;
    }
    .bj {
      color: #FF4050;
    }
    .hk {
      color: #ff40f5;
    }
    .am {
      color: #40DDFF;
    }
    .tw {
      color: #FFA040;
    }
  }
}
#header {
  overflow: hidden;
  div {
    float: left;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    outline: 2px solid #fff;
    background-color: #5988da;
  }
  .time {
    width: 50%;
  }
  .narrow {
    width: 25%;
  }
}
#wrapper {
  position: absolute;
  z-index: 99;
  top: 32px;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ccc;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1000;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  ul {
    li {
      padding: 0 10px;
      height: 40px;
      line-height: 40px;
      border-top: 1px solid #fff;
      background-color: #fafafa;
      font-size: 14px;
      div {
        float: left;
        text-align: center;
      }
      .time {
        width: 50%;
      }
      .narrow {
        width: 25%;
      }
    }
    li:nth-child(even) {
      background-color: #eee;
    } 
  }
}

#scroller ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  text-align: left;
}

#list{
  .typhoon-list {
    height: 100%;
    overflow-y: scroll;
    .typhoon-items {
      list-style: none;
      padding: 0;
      margin: 0;
      width: 100%;
      text-align: left;   
      li {
        padding: 0 10px;
        height: 40px;
        line-height: 40px;
        border-top: 1px solid #fff;
        background-color: #fafafa;
        font-size: 14px;
        div {
          float: left;
          text-align: center;
        }
        .time {
          width: 50%;
        }
        .narrow {
          width: 25%;
        }
      }
      li:nth-child(even) {
        background-color: #eee;
      }  
    }
  }
  
}
#visitor-logo {
  position: absolute;
  bottom: 40px;
  height: 62px;
  width: 62px;
  left: 20px;
  z-index: 99;
  p {
    color: #5f5f5f;
    font-weight: 700;
  }
  img{
    width: 100%;
    margin-bottom: 6px;
    position: relative;
  }
}
.legend {
  width: 100px;
  padding: 4px 4px 4px 8px;
  position: absolute;
  overflow: hidden;
  bottom: 130px;
  left: 10px;
  font-size: 12px;
  font-weight: 700;
  background-color: rgba(255,255,255,0.6);
  p {
    margin-top: 6px;
    margin-bottom: 2px;
    font-size: 14px;
    border-bottom: 1px solid #eee;
  }
  .sh {
    color: #000;
  }
  .jp {
    color: #43FF4B;
  }
  .bj {
    color: #FF4050;
  }
  .hk {
    color: #ff40f5;
  }
  .am {
    color: #40DDFF;
  }
  .tw {
    color: #FFA040;
  }
}
